<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="">
        <div class="row mx-0">
            <div class="col-lg-4">
                <a class="hotlink" href="/">
                    <div class="features-icons-item mx-auto d-flex">
                        <img class="logo" src="/static/ruempel_clean/ruempelClean_logo_bold_light.svg">
                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a class="hotlink" href="/#entruempelung">
                    <div class="features-icons-item mx-auto">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-broom m-auto text-primary"></i>
                        </div>
                        <h5>Entrümpelung</h5>
                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a class="hotlink" href="/#haushalt">
                    <div class="features-icons-item mx-auto">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-couch m-auto text-primary"></i>
                        </div>
                        <h5>Haushaltsauflösung</h5>
                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a class="hotlink" href="/#betrieb">
                    <div class="features-icons-item mx-auto">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-industry m-auto text-primary"></i>
                        </div>
                        <h5>Betriebsauflösung</h5>
                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a class="hotlink" href="/#entkernung">
                    <div class="features-icons-item mx-auto">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-gavel m-auto text-primary"></i>
                        </div>
                        <h5>Entkernung & Abriss</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>