{% extends layout+".html" %}

{% block content %}
    <div class="container">
        {% include "partials/header.html" %}
        <div class="jumbotron">
            <h1 class="display-4">Über uns</h1>
            <p>Wir von Rümpel Clean sind spezialisiert auf Entrümpelungen aller Art. Unser erfahrenes und eingespieltes
                Team
                zeichnet sich durch schnelle und fachgerechte Arbeit aus. Wir stehen für eine faire Preisgestaltung und
                vollste
                Kundenzufriedenheit.
            </p>

            <p>
                Durch eine faire Wertanrechnung in der Kostenkalkulation wird in der Gesamtpreis in der Regel um einiges
                gesenkt. Darunter fallen alle Gegenstände, die noch einen Wiederverkaufswert haben, sogar jene, die
                vielleicht
                auf den ersten Blick nicht wertvoll erscheinen.
                Wir garantieren Ihnen einen Festpreis, der bereits alle anfallenden Kosten und die Wertanrechnung
                beinhalten.
            </p>

            <p>
                Rümpel Clean denkt verantwortungsvoll und umweltbewusst, unsere Entsorgungen laufen stehts
                umweltfreundlich
                ab.
                Auf Wunsch erhalten Sie gerne auch ein Entsorgungsnachweis von unseren Partnern und den zuständigen
                Behörden.
                Wir schmeißen nichts weg! Alles, was noch voll funktionsfähig ist, wird an gemeinwohlorientieren
                Organisationen
                gespendet.
            </p>
        </div>
    </div>
{% endblock %}