{% extends layout+".html" %}

{% block content %}


<section class="showcase">
    <div class="container p-0">
        {% include "partials/header.html" %}
        <div id="haushaltsaufloesung" class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('static/ruempel_clean/gallery/photo5310037608040082462.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Haushalts- & Wohnungsauflösungen</h2>
                <p class="lead mb-0">
                    Von einem Umzug bis hin zu einem Schicksalsschlag - die Beweggründe, die zu einer Haushalts-
                    oder Wohnungsauflösung führen können, sind unterschiedlicher Natur. Sie können aufgrund von
                    positiven als auch negativen Ereignissen zustande kommen und sind stets mit einem enormen Aufwand
                    verbunden. Häufig stellen sie für die Betroffenen ein großes Problem da. In jedem Fall lassen wir
                    von Rümpel Clean Sie nicht allein und bieten Ihnen als erfahrener Dienstleister unsere
                    professionelle
                    Unterstützung an.
                </p>
            </div>
        </div>

        <div id="profihaushalt" class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img"
                 style="background-image: url('static/ruempel_clean/gallery/img_1761.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Warum eine professionelle Haushaltsauflösung?</h2>
                <div class="row">
                    <div class="col-1"><i class="far fa-question-circle" style="color: #8f1619"></i></div>
                    <div class="col-5">Terminliche Vorgaben kurzfristig</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-5">termingerecht, pünktlich & flexible</div>
                </div>
                <div class="row">
                    <div class="col-1"><i class="far fa-question-circle" style="color: #8f1619"></i></div>
                    <div class="col-5">Mangel an Zeit und Ausstattung</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-5">professionelles, schnelles & erfahrenes Team mit fachgerechter Ausstattung</div>
                </div>
                <div class="row">
                    <div class="col-1"><i class="far fa-question-circle" style="color: #8f1619"></i></div>
                    <div class="col-5">Anspruchsvolle und umfangreiche Arbeit</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-5">starkes, organisiertes Team mit Zugang zu</div>
                </div>
                <div class="row">
                    <div class="col-1"><i class="far fa-question-circle" style="color: #8f1619"></i></div>
                    <div class="col-5">seelische & körperliche Belastung</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-5">eine Sorge weniger</div>
                </div>
            </div>
        </div>

        <div id="senioren" class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('static/ruempel_clean/gallery/senioren.jpeg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Umzüge in Seniorenwohnheime oder betreutes Wohnen</h2>
                <p class="lead mb-0">
                    Gerade für ältere Menschen, die häufig jahrzehntelang in ihrer Wohnung gelebt haben, ist ein Umzug
                    ein schwerer Schritt. Um Ihnen diese Veränderung in Ihrem Leben so leicht wie möglich zu machen,
                    legen wir besonderen Wert auf Ihre Einrichtungsgegenstände, sodass Ihre Lieblingsstücke unbeschadet
                    in Ihrem neuen Domizil ankommen. Für alle Möbel und Elektrogeräte, die Sie nicht in das neue Zuhause
                    mitnehmen, erhalten Sie von uns eine faire Wertanrechnung, sodass Ihre Schätze die emotionale und
                    finanzielle Wertschätzung erhalten, die ihnen zusteht.
                </p>
            </div>
        </div>

        <div id="messi" class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img"
                 style="background-image: url('static/ruempel_clean/gallery/photo5310037608040082458.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Der Albtraum eines jeden Vermieters: Messiewohnungen</h2>
                <p class="lead mb-0">
                    Die Entrümpelung von Messiewohnungen ist eine weitere Dienstleistung unseres Unternehmens.
                    Wir bewahren in dieser für Vermieter oder Angehörige schwierigen Situation einen kühlen Kopf und
                    bieten Ihnen professionelle Hilfe an. Selbstverständlich entrümpeln wir auch diese Wohnungen zu
                    fairen Konditionen und entsorgen Unrat und nicht mehr benötigte Einrichtungsgegenstände fachgerecht
                    und umweltfreundlich.
                </p>
                <div class="row">
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-11">Vom Sperr- und Sondermüll bis zum Bauschutt: Entfernung sämtlichen Bodenbelägen,
                        Tapeten, Einbauten, Deckenplatten, Fliesen etc
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-11">Von Möbeln bis Elektrogeräte</div>
                </div>
                <div class="row">
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-11">Vom Keller bis zum Dach</div>
                </div>
            </div>
        </div>

        <div id="domain" class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('static/ruempel_clean/gallery/photo5310037608040082471.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Wir haben uns auf die Auflösung folgender Räumlichkeiten spezialisiert</h2>
                <div class="row">
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-3">Wohnungen</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-3">Haushalte</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-3">Ein- & Mehrfamilienhäuser</div>
                </div>

                <div class="row">
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-3">Garagen</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-3">Betreutes Wohnen</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-3">Seniorenheime</div>
                </div>

                <div class="row">
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-3">Keller</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-3">Dachboden</div>
                    <div class="col-1"><i class="far fa-check-circle" style="color: #1a8f28"></i></div>
                    <div class="col-3">Abstellräume</div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}

