{% extends layout+".html" %}

{% block content %}
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container p-0">
            <div id="haushalt" class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img"
                     style="background-image: url('static/ruempel_clean/gallery/photo5310037608040082469.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Haushaltsauflösung</h2>
                    <p class="lead mb-0">
                        Von einem Umzug bis hin zu einem Schicksalsschlag - die Beweggründe, die zu einer Haushalts-
                        oder Wohnungsauflösung führen können, sind unterschiedlicher Natur. Sie können aufgrund von
                        positiven als auch negativen Ereignissen zustande kommen und sind stets mit einem enormen
                        Aufwand
                        verbunden. Häufig stellen sie für die Betroffenen ein großes Problem da. In jedem Fall lassen
                        wir von Rümpel Clean Sie nicht allein und bieten Ihnen als erfahrener Dienstleister unsere
                        professionelle Unterstützung an:
                    </p>
                </div>
            </div>
            <div id="betrieb" class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                     style="background-image: url('static/ruempel_clean/gallery/photo5310037608040082466.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Geschäfts-, Betriebs- und Firmenauflösungen</h2>
                    <p class="lead mb-0">
                        Neben dem privaten Raum bieten wir ebenso Auflösungs- und Entkernungsdienstleistungen für alle
                        Unternehmensbranchen und Unternehmensgrößen an. Gerade dieser Bereich erfordert Spezialwissen
                        und Erfahrung, mit beidem stehen wir tatkräftig an Ihrer Seite.
                        Unser Service beschränkt sich nicht nur auf die Arbeiten vor Ort in den Geschäftsräumen, wir
                        übernehmen ebenso den Transport ihrer Objekte an einen neuen Standort.
                        Alle Akten und Geschäftsunterlagen werden von uns, wenn gewünscht, selbstverständlich nach den
                        Grundlagen des Bundesdatenschutzgesetzes endgültig vernichtet.
                    </p>
                </div>
            </div>
            <div id="entkernung" class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img"
                     style="background-image: url('static/ruempel_clean/gallery/photo5310037608040082459.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Entkernung & Abriss</h2>
                    <p class="lead mb-0">
                        Auch bei Abriss- und Entkernungsarbeiten sind wir der kompetente Partner an Ihrer Seite.
                        Hierbei liegt uns viel daran, nicht einfach mit roher Gewalt, sondern mit Struktur planvoll
                        vorzugehen. Auch der Einsatz der richtigen Werkzeuge und Geräte ist für uns unerlässlich.
                        Ob Haus, Wohnung, Büroräume o.ä. – wir entkernen für Sie!
                        Die Demontage von Türen und Fenstern, das Entfernen von Bodenbelägen oder schadstoffhaltigen
                        Materialien (Asbest) oder das Einreißen zusätzlich eingezogener Wände (Wanddurchbruch) sind nur
                        einige Beispiele für unseren Service im Rahmen einer Entkernung.
                        Selbstverständlich ist eine fach- und umweltgerechte Entsorgung aller Materialien in unserem
                        Service enthalten.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/testimonials.html" %}
{% endblock %}