<!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
<section class="top-banner-section">
    <!-- The CSS grid area that displays the image (layer 1) -->
    <div class="banner-image-div">
        <img class="banner-image"
             src="/static/ruempel_clean/gallery/hero_bg_3.jpg"
             alt="Banner Image"/>
    </div>
    <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
    <div class="banner-overlay-div"></div>
    <!-- The CSS grid area that displays the content (layer 3) -->
    <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Kostenlose Beratung mit unverbindlicher kostenvoranschlag</p>
      <div itemscope itemtype="http://schema.org/LocalBusiness">
          <span itemprop="telephone">
              <a href="tel:+4915735362979"><i class="icon-phone mr-2"></i>0157-353-62979</a>
          </span>
      </div>
    </span>
    </div>
</section>
