<div class="jumbotron jumbotron-fluid">
    <section class="showcase">
        <div class="container p-0">
            <h1 class="display-4" style="text-align: center">Entrümpelung aller Art</h1>
            <br>
            <div id="entruempelung" class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                     style="background-image: url('static/ruempel_clean/gallery/photo5310037608040082460.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <p class="lead mb-0">
                        Ob Keller, Dachboden oder Abstellkammer: Irgendwo bewahren wir alle die Dinge auf, die wir
                        eigentlich längst nicht mehr benötigen. Ob es sich um Gegenstände für den Sperrmüll oder
                        originalverpackte Ware handelt, irgendwann wird es zu viel. Spätestens dann ist eine
                        Entrümpelung unumgänglich. Wir sind Ihre Nummer 1 bei dem Entrümpeln Ihrer Räumlichkeiten und
                        unterstützen Sie mit unserer schnellen und fachgerechten Arbeit. Wir entrümpeln zuverlässig und
                        sorgfältig, stets mit Wertanrechnung Ihrer Habseligkeiten und fairen Konditionen.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="container">
        <h1 class="display-4" style="text-align: center">und zwar in 3 Schritten</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-year">
                                    <span>kostenlos</span>
                                </div>
                                <div class="timeline-icon">
                                    <i class="fas fa-house-user"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Anfahrt & Besichtigung</h3>
                                    <p class="description">
                                        Anfahrt Besichtigung und Angebotserstellung sind bei uns kostenlos. Sie erhalten
                                        ein Festpreis-Angebot mit allen Kosten.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-year">
                                    <span>Festpreis</span>
                                </div>
                                <div class="timeline-icon">
                                    <i class="fas fa-hands-helping"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Angebot</h3>
                                    <p class="description">
                                        Unser Festpreis-Angebot umfasst die Entrümpelung, Abbau, Transport, Entsorgung,
                                        Versicherung und eine besenreine Übergabe.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-year">
                                    <span>pünktlich</span>
                                </div>
                                <div class="timeline-icon">
                                    <i class="fas fa-business-time"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Wohnungsausflösung</h3>
                                    <p class="description">
                                        Wir erledigen Ihre Entrümpelung pünktlich und mit allen Leistungen aus unserem
                                        Angebot. Es entstehen für Sie keine weiteren Kosten.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
