<div class="container">
    <img src="/static/ruempel_clean/gallery/title_splash_2.jpg" alt="title" style="width:100%;">

    <div class="content">
        <h1>Unsere Vorteile im Überblick</h1>
        <div class="row">
            <div class="col">
                <h5><i class='fas fa-house-user' style='font-size:28px;color:aqua'></i> Gratis Hausbesichtigung</h5>
            </div>
            <div class="col">
                <h5><i class='fas fa-hands-helping' style='font-size:28px;color:aqua'></i> Festpreisgarantie</h5>
            </div>
            <div class="col">
                <h5><i class='fas fa-smile-wink' style='font-size:28px;color:aqua'></i> Unkomplizierte Abwicklung
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5><i class='fas fa-broom' style='font-size:28px;color:aqua'></i> Besenreine Übergabe</h5>
            </div>
            <div class="col">
                <h5><i class='fab fa-envira' style='font-size:28px;color:aqua'></i> Umweltfreundliche Entsorgung</h5>
            </div>
            <div class="col">
                <h5><i class='fas fa-user-tie' style='font-size:28px;color:aqua'></i> Fachgerecht und zuverlässig
                </h5>
            </div>
        </div>
    </div>
</div>