<div class="jumbotron_hero jumbotron-fluid">
    <div class="container">
        {% include "partials/header.html" %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="font-size: 60px; padding: 30px; color: #424E8F">Unsere Vorteile im Überblick</h1>
        <br>
        <div class="row" style="padding: 50px">
            <div class="col-1">
                <i class='fas fa-house-user' style='font-size:48px;color:#424E8F'></i>
            </div>
            <div class="col">
                <h2>Gratis Hausbesichtigung</h2>
            </div>
        </div>
        <div class="row" style="padding: 50px">
            <div class="col-1">
                <i class='fas fa-hands-helping' style='font-size:48px;color:#424E8F'></i>
            </div>
            <div class="col">
                <h2>Festpreisgarantie</h2>
            </div>
        </div>
        <div class="row" style="padding: 50px">
            <div class="col-1">
                <i class='fas fa-smile-wink' style='font-size:48px;color:#424E8F'></i>
            </div>
            <div class="col">
                <h2>Unkomplizierte Abwicklung</h2>
            </div>
        </div>
        <div class="row" style="padding: 50px">
            <div class="col-1">
                <i class='fas fa-broom' style='font-size:48px;color:#424E8F'></i><
            </div>
            <div class="col">
                <h2>Besenreine Übergabe</h2>
            </div>
        </div>
        <div class="row" style="padding: 50px">
            <div class="col-1">
                <i class='fab fa-envira' style='font-size:48px;color:#424E8F'></i>
            </div>
            <div class="col">
                <h2>Umweltfreundliche Entsorgung</h2>
            </div>
        </div>
        <div class="row" style="padding: 50px">
            <div class="col-1">
                <i class='fas fa-user-tie' style='font-size:48px;color:#424E8F'></i>
            </div>
            <div class="col">
                <h2>Fachgerecht und zuverlässig</h2>
            </div>
        </div>
    </div>
</div>