<h1 style="font-size: 60px; padding: 30px; color: #edf0ff">Unsere Vorteile im Überblick</h1>
<br>
<div class="row" style="padding: 50px">
    <div class="col-1">
        <i class='fas fa-house-user' style='font-size:52px;color:#17d2e8'></i>
    </div>
    <div class="col">
        <h2 style="color: #EDF0FF">Gratis Hausbesichtigung</h2>
    </div>
</div>
<div class="row" style="padding: 50px">
    <div class="col-1">
        <i class='fas fa-hands-helping' style='font-size:52px;color:#17d2e8'></i>
    </div>
    <div class="col">
        <h2 style="color: #EDF0FF">Festpreisgarantie</h2>
    </div>
</div>
<div class="row" style="padding: 50px">
    <div class="col-1">
        <i class='fas fa-smile-wink' style='font-size:52px;color:#17d2e8'></i>
    </div>
    <div class="col">
        <h2 style="color: #EDF0FF">Unkomplizierte Abwicklung</h2>
    </div>
</div>
<div class="row" style="padding: 50px">
    <div class="col-1">
        <i class='fas fa-broom' style='font-size:52px;color:#17d2e8'></i><
    </div>
    <div class="col">
        <h2 style="color: #EDF0FF">Besenreine Übergabe</h2>
    </div>
</div>
<div class="row" style="padding: 50px">
    <div class="col-1">
        <i class='fab fa-envira' style='font-size:52px;color:#17d2e8'></i>
    </div>
    <div class="col">
        <h2 style="color: #EDF0FF">Umweltfreundliche Entsorgung</h2>
    </div>
</div>
<div class="row" style="padding: 50px">
    <div class="col-1">
        <i class='fas fa-user-tie' style='font-size:52px;color:#17d2e8'></i>
    </div>
    <div class="col">
        <h2 style="color: #EDF0FF">Fachgerecht und zuverlässig</h2>
    </div>
</div>