<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no">

    <title>{{ title }}</title>
    <!--script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Entrümpelung",
      "image": [
        "http://ruempel-clean.de/static/ruempel_clean/gallery/hero_bg_1.jpg",
        "http://ruempel-clean.de/static/ruempel_clean/gallery/hero_bg_2.jpg",
        "http://ruempel-clean.de/static/ruempel_clean/gallery/hero_bg_4.jpg",
        "http://ruempel-clean.de/static/ruempel_clean/gallery/hero_bg_5.jpg",
        "http://ruempel-clean.de/static/ruempel_clean/gallery/hero_bg_6.jpg"
       ],
      "@id": "http://ruempel-clean.de",
      "name": "Rümpel Clean Entrümpelung & Haushaltsauflösung Lünen ©",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Wittekindstrasse 53",
        "addressLocality": "Lünen",
        "addressRegion": "NRW",
        "postalCode": "44536",
        "addressCountry": "Germany"
      },
      "url": "http://ruempel-clean.de",
      "telephone": "+49157-353-62979",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "9:00",
          "closes": "18:00"
        },
      ],
      "acceptsReservations": "True"
    }

    </script-->

    <!-- Bootstrap core CSS  -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script>
        $(".jumbotron_hero").css({height: $(window).height() + "px"});

        $(window).on("resize", function () {
            $(".jumbotron_hero").css({height: $(window).height() + "px"});
        });
    </script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
          rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
          rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/hero.css" rel="stylesheet">
    <link href="static/css/landing_page.css" rel="stylesheet">
    <link href="static/css/time_line.css" rel="stylesheet">

    {{ fontawesome_html() }}
</head>

<body>

<div class="container-fluid">
    {% block content %}{% endblock %}

    {% include "partials/footer.html" %}
</div>
</body>

</html>
